@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Outfit;
    background-color: hsl(212deg, 45%, 89%);
}

.container {
    background-color: hsl(0deg, 0%, 100%);
    min-height: 100vh;
    max-width: 100%;
    border-radius: 0.75rem;
    padding: 12px;
    margin: 0 auto;
    position: absolute;
}

article {
    margin: 0;
}


.card-img {
    display: block;
    border-radius: 0.5rem;
    max-width: 100%;
}

h1 {
    padding: 10px;
    text-align: center;
    margin-top: 1rem;
}

p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-top: 1rem;
}

footer {
  margin: 0 auto;
  position: relative;
  padding-top: 75%;
}